@font-face {
    font-family: 'Canva Sans';
    src: url('CanvaSans-Regular.woff2') format('woff2'),
        url('CanvaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

