@font-face {
    font-family: 'proxima_softbold';
    src: url('../font/font-ProximaSoft-Bold/fontsfree-net-proximasoft-bold-webfont.woff2') format('woff2'),
        url('../fonts/font-ProximaSoft-Bold/fontsfree-net-proximasoft-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'proximanovasoftw03-regularRg';
    src: url('../font/font-ProximaSoft/fontsfree-net-proxima-nova-soft-w03-regular-webfont.woff2') format('woff2'),
        url('../font/font-ProximaSoft/fontsfree-net-proxima-nova-soft-w03-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    font-family: 'proximanovasoftw03-regularRg', 'Kanit', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'proxima_softbold', 'Kanit', sans-serif;
    font-weight: 600;
}

.text-main {
    color: #f16225;
}

.btn-main {
    background-color: #f16225 !important;
    font-family: 'proxima_softbold', 'Kanit', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.bg-menu {
    background-image: linear-gradient(to right, #0c79b6, #253b7a);
    color: white;
    transition: background 0.3s ease;
}

.font-proxima {
    font-family: 'proxima_softbold', 'Kanit', sans-serif;
}

.font-proxima-400 {
    font-family: 'proximanovasoftw03-regularRg', 'Kanit', sans-serif;
    font-weight: 400;
}

.hero {
    background: url('../img/home-cover.webp') no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-text {
    position: relative;
    z-index: 2;
    padding: 100px 0 0 0;
}

.search-box-wrapper {
    position: relative;
    z-index: 5;
    transform: translateY(-60px);
    /* ขยับขึ้นเล็กน้อยจากปกติ */
}

.search-box {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    color: #f16225 !important;
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #f16225 !important;

}


.flight_Search_boxed {
    background: #ffd7c5;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    position: relative;
}
